{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Commissions{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'commissions/css/commissions.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>

{% endblock %}
{% block content %}
<section class="page-header-block">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    Pet Commissions
                </h1>
            </div>
        </div>
    </div>
</section>
    <!-- interactive settings -->
    <section class="container">
        <!-- category buttons -->
        <div class="row">
            <div class="col-12">
                {% for category in all_categories %}
                <a class="btn btn-gen ml-0 mr-2 mb-2 m-sm-2 btn-sm" href="{% url 'products' %}?category={{ category.name }}">
                    <span class="p-2 mt-2 ">{{ category.friendly_name }}</span>
                </a>
                {% endfor %}
                <a class="btn btn-gen ml-0 mr-2 mb-2 m-sm-2 btn-sm" href="{% url 'commissions' %}">
                    <span class="p-2 mt-2 ">Pet Commissions</span>
                </a>
            </div>
        </div>
    </section>
    <!-- intro + image -->
    <section class="container pt-0 pt-md-3">
        <div class="row">
            <div class="col-12 col-md-6">
                <p>
                    I create commissions of a wide range of animals and wildlife using a variety of media and canvas sizes.
                    Using photographs as a reference, I use pencil, watercolor, or acrylic; to hand-create each piece.
                </p>
                <p>
                    All work takes place in my West Cork Studio.
                    Using only the finest quality canvas, commissions can be created in various sizes, from A5 up to A1. 
                    The details of each commission vary according to both the subject & the client's budget, all of which can be discussed.
                </p>
                <p>
                    Whether it's a cat, dog, horse, or goldfish; I aim to capture every animal's personality in my artwork.
                </p>
            </div>
            <div class="col-12 col-md-6">
                <div class="card main-commission-img m-auto" style="max-width: 28rem;">
                    <img src="https://katie-harte-art.s3.amazonaws.com/media/commissions-pugs.jpg" alt="Card image cap">
               </div>
            </div>
        </div>
    </section>
    <!-- process section -->
    <section class="container pt-0 pt-md-4">
        <div class="row">
            <div class="col-12 col-lg-10">
                <h2>
                    The Process
                </h2>
                <p class="lead">
                    Here's how the commission process works:
                </p>
                <ol>
                    <li>
                        Get in touch, by filling in the form below.
                    </li>
                    <li>
                        Once a request has been made, I will be in touch to chat about your requirements. At this time, we can discuss all available options.
                    </li>
                    <li>
                        Based on your preferences, I will confirm the total cost and approximate timescale.
                    </li>
                    <li>
                        Once the quote is accepted, the artwork will commence. 
                    </li>
                    <li>
                        When the artwork is complete, I will send you photographs. If you are happy with the piece, I will request payment and the painting is yours.
                    </li>
                </ol>
            </div>
        </div>
    </section>
    <section class="container pt-0 pt-md-4">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="image-container mb-3">
                    <a href="/media/20210803_230117.jpg" target="_blank">
                         <img class="img-fluid" src="https://katie-harte-art.s3.amazonaws.com/media/commissions-main.jpg" alt="Chocolate Lab">
                    </a>              
               </div>
            </div>
            <div class="col-12 col-md-8">
                <h2>Take the First Step</h2>
                <p>
                    Fill out the form below, specifying your preferences.
                    <br>
                    If you'd like to receive a quick online quote, checkout the <a href="#" class="text-link" data-bs-toggle="modal" data-bs-target="#commission-quote"> commissions calculator</a>. 
                </p>
                
                <!-- Modal -->
                <div class="modal fade" id="commission-quote" tabindex="-1" aria-labelledby="commission-quote" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Pet commission calculator
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        ...
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div>
                <form method="POST" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <button class="btn btn-gen btn-md btn-long my-2" id="commissions-submit-btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>


{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'commissions/js/commissions.js' %}"></script>
{% endblock %}

